{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
    {% for value in content %}
        <p>{{value}}</p>
    {% endfor %}
  <div id="vue-app">
    <div class="vue-app">
      <h5>Embedded Currency App</h5>
    </div>
  </div>
</div>

{{ attach_library('embedded_apps/vue_app') }}
